<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">\
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<h1>Add Your Blog</h1>
<form method="post" class="form-group">
    <p>Title<br>
        <input type="text" name="title" placeholder="Your Title Here" class="form-control"></p>
    <p>Review<br>
        <textarea name="text" placeholder="Start Your Article Here" class="form-control"></textarea>
    </p>
    <p><input type="submit"></p>
</form>
