<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<h1>Add Course Review</h1>
<form method="post">
    <p>Class Name<br>
        <input type="text" name="className" placeholder="CIS 197"></p>
    <p>Semester<br>
        <input type="text" name="semester" placeholder="2016 Spring"></p>
    <p>Rating<br>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </p>
    <p>Review<br>
        <textarea name="text"></textarea></p>
    <p><input type="submit"></p>
</form>
