<link rel="stylesheet" type="text/css" href="/css/style.css"/>

<h1>Penn Course Review Lite</h1>

<div id="nav">
    <input type="text" id="key" size="40" placeholder="Enter your key here!"/>
    <p><a href="/loginAdmin">Login</a></p>
    <p><a href="/keys/newKey">New Key</a></p>
    <p><a id="testkey" data-baseref="/testKey">Test Key</a></p>
    <p><a id="reviews" data-baseref="/api/all">All Reviews</a></p>
    <p><a href="/reviews/new">Add Review</a></p>
</div>

<script src="/js/jquery-1.11.3.js"></script>
<script src="/js/indexPage.js"></script>
