h1 {
    font: 3em "Arial Rounded MT Bold", "Optima", "Arial";
    text-align: center;
}

h3 {
    text-align: center;
}

#nav {
    font: 2em "Optima", "Arial";
    text-align: center;
}

form {
    text-align: center;
}

p {
    text-align: center;
}